.star-ratings-sprite, .star-ratings-sprite-rating {
    width: 200px;
    height: 40px;
    background-size: 40px;
    background-repeat: repeat-x;
    overflow: hidden;
}

.star-ratings-sprite {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png");
}

.star-ratings-sprite-rating {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png");
    background-position: 0 100%;
    display:block;
}


.bold {
    font-weight: bold;
}

